/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
.header {
	background-color: #660000;
}

.header-nav ul {
	margin-bottom: 0;
}
.header-nav li {
	margin-right: 20px;
	margin-top: 12px;
	display: inline-block;
}

.header-nav li a {
	color: #CCC;
}

.header-nav li.current a {
	color: #FFF;
	border-radius: 1px;
}

/*****************************************************************************/
/*
/* Content Area
/*
/*****************************************************************************/

.content {
	margin-top: 20px;
}
