<div class="nav">
    <aside>
    {% comment %}
    The data for building this navigation list is in:
    _data/docs_nav.yml
    {% endcomment %}
    {% for section in site.data.docs_nav %}
    <div>
        <h4>{{ section.title }}</h4>
        <ul>
        {% for item in section.items %}
            {% capture item_url %}/docs{{section.path}}/{{ item.id }}{% endcapture %}

            <li><a class="sidebar-nav" href="{{ site.baseurl }}{{ item_url }}">{{ item.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}

    </aside>
</div>
