<div>
  <aside>
    <h4><a href="{{ site.baseurl }}/examples/">Examples</a></h4>
    <ul>
        <li><a href="{{ site.baseurl }}/examples/todo/" target="_blank">Todo List Module</a></li>
        <li><a href="{{ site.baseurl }}/examples/credit-card/">Credit Card Validator</a></li>
        <li>
            <ul>
                <li><a href="{{ site.baseurl }}/examples/credit-card/#module">Module</a></li>
                <li><a href="{{ site.baseurl }}/examples/credit-card/#service">Service</a></li>
                <li><a href="{{ site.baseurl }}/examples/credit-card/#init">init</a></li>
            </ul>
        </li>
    </ul>
  </aside>
</div>