<div class="nav">
  <aside>
    <h4><a href="{{ site.baseurl }}/examples/">Examples</a></h4>
    <ul>
        <li><a class="{% if page.url contains '/examples/todo/' %}active{% endif %}" href="{{ site.baseurl }}/examples/todo/">Todo List</a></li>
        <li class="sub margin-bot-10">
            <ul>
                <li><a href="{{ site.baseurl }}/examples/todo/#demo" data-item="demo">Demo</a></li>
                <li><a href="{{ site.baseurl }}/examples/todo/#sourcecode" data-item="sourcecode">Source Code</a></li>
                <li><a href="{{ site.baseurl }}/examples/todo/#explanation" data-item="explanation">Explanation</a></li>
            </ul>
        </li>
        <li><a class="{% if page.url contains '/examples/credit-card/' %}active{% endif %}" href="{{ site.baseurl }}/examples/credit-card/">Credit Card Validator</a></li>
        <li class="sub">
            <ul>
                <li><a href="{{ site.baseurl }}/examples/credit-card/#module" data-item="module">Module</a></li>
                <li><a href="{{ site.baseurl }}/examples/credit-card/#service" data-item="service">Service</a></li>
                <li><a href="{{ site.baseurl }}/examples/credit-card/#init" data-item="init">init</a></li>
            </ul>
        </li>
    </ul>
  </aside>
</div>
