<a id="nav-icon" href="{{ site.baseurl }}/">T3 Home</a>

<ul>
    <li class="{% if page.url contains '/docs/' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/">Documentation</a>
    </li>
    <li class="{% if page.downloadpage %}current{% endif %}">
        <a href="{{ site.baseurl }}/download/">Download</a>
    </li>
    <li class="{% if page.url contains '/examples/' %}current{% endif %}">
        <a href="{{ site.baseurl }}/examples/">Examples</a>
    </li>
    <li>
        <a href="https://github.com/box/t3js" target="_new">GitHub</a>
    </li>
</ul>
