<a id="nav-icon" href="{{ site.baseurl }}/">T3 Home</a>

<ul>
    <li class="{% if page.url contains '/docs/' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/">documentation</a>
    </li>
    <li class="{% if page.url contains '/tutorials/' %}current{% endif %}">
        <a href="{{ site.baseurl }}/tutorials/">tutorials</a>
    </li>
    <li class="{% if page.downloadpage %}current{% endif %}">
        <a href="{{ site.baseurl }}/download/">download</a>
    </li>
    <li class="{% if page.url contains '/examples/' %}current{% endif %}">
        <a href="{{ site.baseurl }}/examples/">examples</a>
    </li>
</ul>
