<div id="hero" class="pad-bot-100 margin-bot-50 border-bot">
    <div class="row">
        <div class="medium-12 columns text-center">
            <div style="height: 193px;">
                <img class="pad-top-25" width="190" height="190" data-interchange="[{{ site.baseurl }}/img/hero_tmp.png, (default)], [{{ site.baseurl }}/img/hero_tmp@2x.png, (retina)]">
                <noscript><img class="pad-top-25" width="190" height="190" src="{{ site.baseurl }}/img/hero_tmp.png" /></noscript>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="medium-10 medium-offset-1 columns text-center margin-top-100">
            <h2 class="grad-text">T3 is a minimalist javascript framework that provides core structure to code</h2>
            <a class="button cta margin-top-25" href="{{ site.baseurl }}/download">Download T3</a>
        </div>
    </div>
</div>
<div id="learn-more" class="row text-center">
    <a href="#core-philosophy">Learn More<br />&darr;</a>
</div>