{% include top.html %}

    <body>

        {% include header.html %}

        <div class="content row">
            <div class="medium-3 columns">
                {% include documentation-nav.html %}
            </div>
            <div class="documentation medium-9 columns">
                <div class="anchor" id="anchor-top"></div>
                {{ content }}

                <div class="docs-prevnext">
                  {% if page.prev %}
                    <a class="prev" href="{{ page.prev }}">&larr; Prev</a>
                  {% endif %}
                  {% if page.next %}
                    <a class="next" href="{{ page.next }}">Next &rarr;</a>
                  {% endif %}
                </div>
            </div>
        </div>

        {% include footer.html %}

    </body>

{% include bottom.html %}
