{% include top.html %}

    <body>

        {% include header.html %}

        <div class="content container">
            <div class="three columns">
                {% include tutorial-nav.html %}
            </div>
            <div class="tutorial twelve columns offset-by-one">
                {{ content }}

                {% if page.prev %}
                  <a class="prev" href="{{ site.baseurl }}/tutorials/{{ page.prev }}">← {{ page.prev_title }}</a>
                {% endif %}

                {% if page.next %}
                  <a class="next" href="{{ site.baseurl }}/tutorials/{{ page.next }}">{{ page.next_title }} →</a>
                {% endif %}
            </div>
        </div>

        {% include footer.html %}

    </body>

{% include bottom.html %}
